@import url('https://fonts.googleapis.com/css2?family=Anton&family=Martian+Mono:wght@100;300;700&family=Work+Sans:wght@300;600;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Anton', sans-serif;
    font-family: 'Martian Mono', monospace;
    font-family: 'Work Sans', sans-serif;
    background-color:#0d0936 ;
}
nav {
    width: 100%;
 z-index: 10000;
    background-color: #0d0936 !important;
}


.inicio {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 150px;
height: 85vh;
width: 100%;
background-color: #0d0936;
}

h1{
font-size: 90px;
transform: rotate(270deg);
color: aliceblue;
width: 75vh;
max-width: 680px;
padding:2.9rem 1rem;
margin: 50px;
text-align: left;
}

.cv {
    width: 100%;
    display: grid;
    place-items: center;
    height: 25vh;
    background-color: transparent;
}

button {
    height: 50px;
    width: 140px;
    border-radius: 8px;
    background-color: rgb(196, 196, 210);
    color: #040115;
    font-size: 18px;
    font-weight: bold;
    border: none;
}
button a {
    color: #040115;
}
@media screen and (min-width:768px){
    .hab-section {
        position: relative;
    }
    h1 {
        transform: rotate(0);
        position: absolute;
        left: -10px;
        top: 100px;
        padding: 0;
        margin-top: 12%;
        width: 800px;
        text-align: center;
    }

    .cv {
        position: absolute;
        background-color: transparent;
        top: 500px;
        left: -20%;
    }
    button {
        height: 80px;
        width: 180px;
        font-size: 28px;
    }
}
@media screen and (min-width:1280px){
    h1 {
        top: 0px;
        left: 150px;
        font-size: 110px;
        width: 1280px;
    }

    .cv {
        top: 500px;
        left: -20%;
    }
}

/* habilidades */
.hab-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100% ;
    background-color: rgb(1, 1, 11);
    height: 110vh;
}
 h3 {
    color: aliceblue;
    font-size: 28px;
    padding: 18px;
}

.habilidades {
    width: 300px;
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-rows: repeat(4,1fr);
    height: 100vh;
    place-items: center;
}
.habilidades img {
    height: 80px;
}
@media screen and (min-width:768px){
   .habilidades {
    gap: 100px;
   }
}
@media screen and (min-width:1280px){
    .habilidades {
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 1fr;
    place-items: center;
    width: 90%;
    }
 }


 /* acerca */
 .container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;


 }

.acerca {
    height:120vh;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.acerca h3 {
    color: rgb(1, 1, 11);
    font-size: 30px;
}
.acerca div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 20px;
    padding: 18px;
}
.acerca-p {
    font-size:16px;
    font-weight: 400;
    padding: 12px;
}
@media screen and (min-width:768px){
.acerca-p{
    font-size: 20px;
    letter-spacing: 5px;
    padding: 18px;
   }
   .acerca {
    height: 110vh;
   }
 
}
/* estudios */

.estudios {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    max-width: 800px;
    width: 100%;
}

.card {
    height: 300px;
    width: 95%;
    max-width: 768px;
    background-color: aliceblue;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}
h5 {
    font-size: 36px;
    padding: 8px;
}
.estudios-p {
    font-size: 22px;
    padding: 18px;
}

.cursos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    padding: 18px;
}
.cursos li {
    padding: 10px;
}
@media screen and (min-width:768px){
    .card {
        width: 40%;
        
    }
    }

h4 {
    padding-bottom: 40px;
    color: aliceblue;
}

h4{
    color:#0d0936 ;
    font-size: 20px;
    width: 100px;
}

.contacto {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 30px;
    margin-top: 80px;
    padding-left:15% ;
}
.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
i{
    font-size: 40px;
    padding: 18px;
    color: aliceblue;
}
a {
    text-decoration: none;
}
.mail {
    text-decoration: none;
    color:aliceblue;
    font-size: 20px;
}