* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: antiquewhite;
}
.title{  
    cursor:pointer;  
   }  
   /*Properties for Nav-bar*/  
   .navbar{  
    display:flex;  
    top:0;  
    height:15vh;  
    width: 100%;
    justify-content:space-between;  
    align-items:center;   
    padding:0px 20px;  
   background-color: #b6f3dd;
   }  
   .nav-sub{  
    display:flex;  
    justify-content:space-between;  
   }  
   .list-item {  
    padding:10px;  
    list-style:none;  
    color: #040115;
    font-size: 18px;
    font-weight: bold;
   }  
   .nav-link{  
    color:inherit;  
    text-decoration:none;  
   }  
   /*Properties for Hamburger*/  
   .ham{  
    display:none;  
    padding:5px;  
    cursor:pointer;  
   }  
   .bar1,.bar2,.bar3{  
    display:block;  
    width:35px;  
    height:3px;  
    margin:5px auto;  
    background-color:#101010;  
    transition: 0.4s;  
   }  
   @media only screen and (max-width:768px){  
   *{  
     overflow:hidden;  
    }  
   .nav-sub{  
     position:absolute;   
     top:10vh;  
     right:0px;  
     flex-direction:column;  
     background-color:#040115;  
     transition:transform 0.3s ease-in;  
     transform:translate(100%);  
     z-index: 10000;
     width: 100%;
     display: block;
    }  
    .list-item {  
       color: antiquewhite;
       font-size: 20px;
       text-align: center;
       } 
   .nav-change{  
     transform:translate(0%);  
    }  
   .ham{  
     display:block;  
    }  
   .change .bar1 {  
    transform: rotate(45deg) translate(8px,3px);  
   }  
   .change .bar2 {  
    opacity: 0;  
   }  
   .change .bar3 {  
    transform: rotate(-45deg) translate(8px,-3px);  
   }  
   }  


.inicio {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 150px;
height: 85vh;
width: 100%;
background-color: #b6f3dd;
}

h1{
font-size: 90px;
transform: rotate(270deg);
color: blue;
width: 75vh;
max-width: 680px;
padding:2.9rem 1rem;
margin: 50px;
text-align: left;
}

.cv {
    width: 100%;
    display: grid;
    place-items: center;
    height: 25vh;
    background-color: transparent;
}

button {
    height: 50px;
    width: 140px;
    border-radius: 8px;
    background-color: blue;
    color: aliceblue;
    font-size: 18px;
    font-weight: bold;
    border: none;
}
@media screen and (min-width:768px){
    .hab-section {
        position: relative;
    }
    h1 {
        transform: rotate(0);
        position: absolute;
        left: -10px;
        top: 100px;
        padding: 0;
        margin-top: 12%;
        width: 800px;
        text-align: center;
    }

    .cv {
        position: absolute;
        background-color: transparent;
        top: 500px;
        left: -20%;
    }
    button {
        height: 80px;
        width: 180px;
        font-size: 28px;
    }
}
@media screen and (min-width:1280px){
    h1 {
        top: 0px;
        left: 150px;
        font-size: 110px;
        width: 1280px;
    }

    .cv {
        top: 500px;
        left: -20%;
    }
}

/* habilidades */
.hab-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100% ;
    background-color: rgb(1, 1, 11);
    height: 110vh;
}
 h3 {
    color: aliceblue;
    font-size: 28px;
    padding: 18px;
}

.habilidades {
    width: 300px;
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-rows: repeat(4,1fr);
    height: 100vh;
    place-items: center;
}
.habilidades img {
    height: 80px;
}
@media screen and (min-width:768px){
   .habilidades {
    gap: 100px;
   }
}
@media screen and (min-width:1280px){
    .habilidades {
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 1fr;
    place-items: center;
    width: 90%;
    }
 }


 /* acerca */
 .container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;


 }

.acerca {
    height:120vh;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.acerca h3 {
    color: rgb(1, 1, 11);
}
.acerca div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 20px;
    padding: 18px;
}
p {
    font-size: 20px;
    font-weight: 400;
}
@media screen and (min-width:768px){
   p{
    font-size: 26px;
    letter-spacing: 5px;
    padding: 18px;
   }
   .acerca {
    height: 110vh;
   }
   .cursos {
    margin-top: 100px;
    width: 500px;
}
.estudios{
    width: 80%;
}
h4 {
    padding-bottom: 40px;
}
}
@media screen and (min-width:1000px){
    .estudios,
    .cursos {
        width:500px ;
        margin-top: 100px;
    }
   
  }
.br {
    width: 180px;
    height: 0;
    border: 2px solid #040115;
    float: left;
    align-self: flex-start;
    margin-left: 5vh;
    margin: 10px;
}
.estudios,
.cursos {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 400px;
    height: 300px;
    padding: 18px;
    gap: 20px;
}
.cursos {
    margin-top: 40px;
}
h4{
    color:#2707de ;
    font-size: 20px;
    width: 100px;
}
@media screen and (min-width:768px){
    h4 {
        font-size: 40px;
        width: 200px;
    }
}
.cursos-lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style:circle;
    gap: 12px;
    padding-left: 12px;
}
.cursos-lista li {
    font-size: 18px;
    padding: 12px;
}
.contacto {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 30px;
    margin-top: 80px;
    padding-left:15% ;
}
.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
i{
    font-size: 40px;
    padding: 18px;
}
a {
    text-decoration: none;
    color: #040115;
    font-size: 20px;
}