@import url('https://fonts.googleapis.com/css2?family=Anton&family=Martian+Mono:wght@100;300;700&family=Work+Sans:wght@300;600;800&display=swap');
:root{
    --prinsipal:#0000ff;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    display: flex;
    max-width: 1900px;
    flex-direction: column;
    align-items: center;
    font-family: 'Anton', sans-serif;
    font-family: 'Martian Mono', monospace;
    font-family: 'Work Sans', sans-serif;
    background-color:#b2b79d ;
   ;
}

.inicio {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items:flex-start;
height: 80vh;
width: 80%;
gap: 60px;
margin-top: 50px;
background-image: url(../img/marca_3.svg);
background-repeat: no-repeat;
background-position: center
}

@media screen and (max-width:770px)
{
    .inicio {
        background-image: url(../img/marca_4.svg);
        height: 100vh;
    }
}
h1{
font-size: 80px;
color: var(--prinsipal);
width: 480px;
max-width: 680px;
text-align: center;
font-weight: 600;
}


.curriculum {
    height: 24vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: aliceblue;
}
.cv {
    height: 50px;
    width: 140px;
    border-radius: 8px;
    background-color:var(--prinsipal);
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
   
    

}
.cv a {
    color: #ffffff;
    padding: 12px;
}
.cv i {
    font-size: 34px;
    color: #ffffff;
}

/* habilidades */
.hab-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100% ;
    background-color: rgb(2, 2, 14);
    height: 100vh;
    gap: 5rem;
}
 h3 {
    color: aliceblue;
    font-size: 28px;
    padding: 18px;
}

.habilidades {
    width: 300px;
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-rows: repeat(4,1fr);
    height: 50vh;
    place-items: center;
}
.habilidades img {
    height: 80px;
}
@media screen and (min-width:768px){
   .habilidades {
    gap: 100px;
   }
}
@media screen and (min-width:1280px){
    .habilidades {
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 1fr;
    place-items: center;
    width: 90%;
    }
 }


 /* acerca */
 .container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;


 }

.acerca{
    height:60vh;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.acerca h3 {
    color: rgb(1, 1, 11);
    font-size: 30px;
 
}


.acerca div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 20px;
    padding: 18px;
}
.acerca-p {
    font-size:12px;
    font-weight: 400;
    padding: 12px;
}

@media screen and (min-width:468px){
    .acerca {
        height: 100vh;
    }
.acerca-p{
    font-size: 22px;
    padding: 18px;
   }
}
@media screen and (min-width:768px){
    .acerca {
        height: 100vh;
    }
.acerca-p{
    font-size: 20px;
    padding: 18px;
   }
}

/* estudios */

.estudios {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: aliceblue;
}

.card {
    padding: 10px;
    max-width: 260px;
  }
  
  .content {
    margin-top: 1rem;
  }

  .title {
    display: block;
    font-size: 1.25rem;
    line-height: 1.35rem;
    font-weight: 600;
    padding-bottom: 18px;
    padding-top: 14px;
  }
  
  .description {
    line-height: 1;
    margin-bottom: 8px;
  }
  @media screen and (min-width:468px) {
    .title {
        display: block;
        font-size:2rem;
        font-weight: 600;
        padding-bottom: 18px;
        padding-top: 14px;
      }
      
      .description {
        font-size: 20px;
      }
  }


.cursos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    padding: 18px;
}
.cursos li {
    padding: 10px;
}

h4 {
    padding-bottom: 40px;
    color: aliceblue;
}

h4{
    color:#0d0936 ;
    font-size: 20px;
    width: 100px;
}

.contacto {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 30px;
    margin-top: 80px;
    padding-left:15% ;
    height: 10vh;
}
.redes {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}
i{
    font-size: 40px;
    padding: 12px;
    color: aliceblue;
}
a {
    text-decoration: none;
}
.mail {
    text-decoration: none;
    color:aliceblue;
    font-size: 20px;
}


li {
    list-style: none;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #b2b79d;
  
  }
  .header__container {
    padding: 0 30px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
  }
  .header__logo {
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    z-index: 5;
    width: 40px;
    height: 40px;
  }
  .menu__icon {
    display: none;
  }
  .menu__list > li {
    position: relative;
    margin-left: 20px;
  }
  .menu__link {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
  }
  .menu__sub-list {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #000;
    padding: 15px;
    min-width: 200px;
  }
  .menu__sub-list li {
    margin-bottom: 10px;
  }
  .menu__sub-list li:last-child {
    margin-bottom: 0px;
  }
  .menu__sub-link {
    color: #fff;
  }
  .menu__sub-link:hover {
    text-decoration: underline;
  }
  .menu__arrow {
    display: none;
  }
  body._pc .menu__list > li:hover .menu__sub-list {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
    pointer-events: all;
  }
  body._touch .menu__list > li {
    display: flex;
    align-items: center;
  }
  body._touch .menu__link {
    flex: 1 1 auto;
  }
  body._touch .menu__arrow {
    display: block;
    width: 0;
    height: 0;
    margin-left: 5px;
    transition: transform 0.3s ease 0s;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #fff;
  }
  body._touch .menu__list > li._active .menu__sub-list {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
    pointer-events: all;
  }
  body._touch .menu__list > li._active .menu__arrow {
    transform: rotate(180deg);
  }
  @media (min-width: 767px) {
    .menu__list {
      display: flex;
      align-items: center;
    }
    .menu__list > li {
      padding: 10px 0;
    }
    .menu__sub-list {
      transform: translate(0, 10px);
      opacity: 0;
      visibility: hidden;
      /* to avoid mistaken hover */
      pointer-events: none;
      transition: all 0.3s ease 0s;
    }
  }


  @media (max-width: 767px) {
    .menu__icon {
      z-index: 5;
      display: block;
      position: relative;
      width: 30px;
      height: 18px;
      cursor: pointer;
    }
    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
      left: 0;
      position: absolute;
      height: 10%;
      width: 100%;
      transition: all 0.3s ease 0s;
      background-color: #fff;
    }
    .menu__icon::before,
    .menu__icon::after {
      content: '';
    }
    .menu__icon::before {
      top: 0;
    }
    .menu__icon::after {
      bottom: 0;
    }
    .menu__icon span {
      top: 50%;
      transform: scale(1) translate(0, -50%);
    }
    .menu__icon._active span {
      transform: scale(0) translate(0, -50%);
    }
    .menu__icon._active::before {
      top: 50%;
      transform: rotate(-45deg) translate(0, -50%);
    }
    .menu__icon._active::after {
      bottom: 50%;
      transform: rotate(45deg) translate(0, 50%);
    }
    .menu__body {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      padding: 100px 30px 30px 30px;
      transition: left 0.3s ease 0s;
      /* for scroll on menu */
      overflow: auto;
    }
    .menu__body._active {
      /* use left and not transform/translate because it scroll the .menu__body::before when u scroll menu */
      left: 0;
    }
    .menu__body::before {
      content: '';
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      height: 70px;
      background-color: #b2b79d;
      z-index: 2;
    }
    .menu__list > li {
      flex-wrap: wrap;
      margin-bottom: 30px;
    }
    .menu__list > li:last-child {
      margin-bottom: 0;
    }
    .menu__list > li._active .menu__sub-list {
      display: block;
    }
    .menu__link {
      font-size: 24px;
    }
    .menu__sub-list {
      position: relative;
      background-color: #fff;
      flex: 1 1 100%;
      margin-top: 20px;
      display: none;
    }
    .menu__sub-link {
      font-size: 20px;
      color: #000;
    }
  }





  .scroll-top-button {
    position: fixed;
    right: 20px;
    bottom: 36px;
    display: grid;
    place-items: center;
    width: 64px;
    height: 64px;
    border: 0;
    border-radius: 50%;
    background: #4285f4;
    color: #f9f9f9;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }
  
  .scroll-top-button.visible {
    opacity: 1;
    visibility: visible;
  }